<link
  type="text/css"
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans"
/>
<div class="page">
  <ng-container *ngTemplateOutlet="templateHeader"></ng-container>
  <div class="page-inner head-paginn">
    <!-- app-hero -->
    <div class="heroCover">
      <img
        src="{{
          itinerary.cover[0] !== undefined
            ? itinerary.cover[0].url
            : '../../../assets/images/banner/banner.jpg'
        }}"
        alt=""
        class="mb-img"
      />
      <div class="hcCon">
        <h1>{{ itinerary.nameTravelplan }}</h1>
      </div>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="templateFooter"></ng-container>
</div>
<div class="page">
  <ng-container *ngTemplateOutlet="templateHeader"></ng-container>
  <div class="page-inner">
    <div class="container">
      <div class="row imgSecBlo">
        <div class="col-6">
          <div class="isCon" [innerHTML]="itinerary.intoContent"></div>
          <h5 class="isConN">{{ itinerary.contactName }}</h5>
        </div>
        <div class="col-6">
          <img src="{{ itinerary.introMedia[0] }}" alt="" class="isImg" />
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="templateFooter"></ng-container>
</div>
<div class="dynamic-pages">
  <ng-container *ngTemplateOutlet="templateHeader"></ng-container>
  <div class="page-inner">
    <h4 class="main-title">Reisbeschrijving</h4>
    <table class="chartPro">
      <thead>
        <tr>
          <th>Dag</th>
          <th>Locatie</th>
          <th>Datum</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Uw transport tot Edinburgh</td>
          <td>30.10.2020</td>
        </tr>
        <tr>
          <td>1 - 2</td>
          <td>Cromlix Hotel | Edinburgh</td>
          <td>30.10.2020 - 31.10.2020</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Uw transport tot Edinburgh</td>
          <td>30.10.2020</td>
        </tr>
        <tr>
          <td>1 - 2</td>
          <td>Cromlix Hotel | Edinburgh</td>
          <td>30.10.2020 - 31.10.2020</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Uw transport tot Edinburgh</td>
          <td>30.10.2020</td>
        </tr>
        <tr>
          <td>1 - 2</td>
          <td>Cromlix Hotel | Edinburgh</td>
          <td>30.10.2020 - 31.10.2020</td>
        </tr>
      </tbody>
    </table>
    <h4 class="main-title">Reisbeschrijving</h4>
    <ng-container *ngFor="let segment of itinerary.segments; let i = index">
      <ng-container *ngIf="segment.typeId == 4 || segment.typeId == 1">
        <div class="main-timeline">
          <h6 class="tli-ttl" *ngIf="segment.title">
            <b>
              DAG
              {{ segment.day }}
              {{
                segment.nights > 1 ? " - " + (segment.day + segment.nights) : ""
              }}
            </b>
            | {{ segment.title }} | {{ segment.date }}
          </h6>
          <ng-container *ngFor="let element of segment.elements">
            <ng-container *ngIf="element.unitId == 8; else two">
              <h6 class="tli-sub">
                {{ element.title }}
              </h6>
              <p [innerHTML]="element.additionalText"></p>
            </ng-container>
            <ng-template #two>
              <ng-container
                *ngIf="element.orderline_highlight == true; else three"
              >
                <h6 class="tli-sub">{{ element.title }}</h6>
              </ng-container>
            </ng-template>
            <ng-template #three>
              <h6 class="tli-sub">
                {{ element.title + " " + element.subTitle }}
              </h6>
              <p [innerHTML]="element.additionalText"></p>
            </ng-template>
          </ng-container>
          <p [innerHTML]="segment.content"></p>
          <!-- Start image binding element level -->
          <ng-container *ngIf="segment.images[4] !== undefined; else second">
            <span class="td-imgs">
              <img src="{{ segment.images[0] }}" alt="" />
              <img src="{{ segment.images[1] }}" alt="" />
            </span>
            <img class="tdSinImg" src="{{ segment.images[2] }}" alt="" />
            <span class="td-imgs">
              <img src="{{ segment.images[3] }}" alt="" />
              <img src="{{ segment.images[4] }}" alt="" />
            </span>
          </ng-container>

          <ng-template #second>
            <ng-container *ngIf="segment.images[2] !== undefined; else third">
              <img class="tdSinImg" src="{{ segment.images[0] }}" alt="" />
              <span class="td-imgs">
                <img src="{{ segment.images[1] }}" alt="" />
                <img src="{{ segment.images[2] }}" alt="" />
              </span>
            </ng-container>
          </ng-template>

          <ng-template #third>
            <ng-container *ngIf="segment.images[0] !== undefined">
              <img class="tdSinImg" src="{{ segment.images[0] }}" alt="" />
            </ng-container>
          </ng-template>
          <!-- End image binding element level -->
          <!-- end loop -->
        </div>
      </ng-container>
    </ng-container>
  </div>
  <ng-container *ngTemplateOutlet="templateFooter"></ng-container>
</div>
<div class="dynamic-pages">
  <ng-container *ngTemplateOutlet="templateHeader"></ng-container>
  <div class="page-inner">
    <div class="bgHigLig">
      <h4 class="main-title">Wij zijn hier om u kwaliteit te bieden</h4>
      <div class="wzc-con">
        <ng-container *ngFor="let usp of itinerary.uspData">
          <span>
            <img src="{{ usp.image }}" alt="" />
            <h4 [innerHTML]="usp.text"></h4>
          </span>
        </ng-container>
      </div>
    </div>
    <div class="accopt-con">
      <h3 class="title acc-ttl">Accommodatie opties</h3>
      <ng-container *ngFor="let accommodation of itinerary.accommodations">
        <h4>
          {{ accommodation.title }}
          <ng-container *ngIf="accommodation.optional == true">
            <span class="thetor-opt">Optioneel</span>
          </ng-container>
        </h4>
        <p [innerHTML]="accommodation.additionalText"></p>
        <ng-container *ngFor="let image of accommodation.media; let i = index">
          <ng-container *ngIf="i % 2 == 0">
            <article class="aocImgs">
              <ng-container *ngIf="accommodation.media[i] !== undefined">
                <img src="{{ accommodation.media[i].url }}" />
              </ng-container>
              <ng-container *ngIf="accommodation.media[i + 1] !== undefined">
                <img src="{{ accommodation.media[i + 1].url }}" />
              </ng-container>
            </article>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="templateFooter"></ng-container>
</div>
<div class="dynamic-pages">
  <ng-container *ngTemplateOutlet="templateHeader"></ng-container>
  <div class="page-inner">
    <h4>Reissom & informatie</h4>
    <div class="pri-perpes">
      <p>
        {{ itinerary.nameTravelplan }}
        <b>{{
          itinerary.salesPriceBeforeRounding / itinerary.stats_pax
            | currency: "EUR":"symbol":undefined:"nl"
        }}</b>
        per persoon
      </p>
      <small>Gebaseerd op {{ itinerary.stats_pax }} personen</small>
    </div>
    <ng-container>
      <h4>Opgenomen in deze reis</h4>
      <p [innerHTML]="itinerary.TSOrder.texts.general"></p>
    </ng-container>
    <h4 class="main-title">Vlucht informatie</h4>
    <table class="chartPro">
      <thead>
        <tr>
          <th>Vlucht</th>
          <th>Vlucht nummer.</th>
          <th>Vertrek luchthaven</th>
          <th>Vertrek datum</th>
          <th>Vertrek tijd</th>
          <th>Aankomst luchthaven</th>
          <th>Aankomst datum</th>
          <th>Aankomst tijd</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of itinerary.flights">
          <td>{{ flight.airlineCode }}</td>
          <td>{{ flight.flightNumber }}</td>
          <td>{{ flight.departureAirport }}</td>
          <td>{{ flight.departureDate }}</td>
          <td>{{ flight.departureTime }}</td>
          <td>{{ flight.arrivalAirport }}</td>
          <td>{{ flight.arrivalDate }}</td>
          <td>{{ flight.arrivalTime }}</td>
        </tr>
      </tbody>
    </table>
    <h4 class="main-title">Bijkomende hotel kosten</h4>
    <ng-container *ngFor="let extra of itinerary.extraFieldValues">
      <ng-container *ngFor="let field of extra.fields">
        <ng-container *ngIf="field.name == 'included_text'">
          <p [innerHTML]="field.value"></p>
        </ng-container>

        <ng-container *ngIf="field.name == 'excluded_text'">
          <p [innerHTML]="field.value"></p>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngFor="let segment of itinerary.segments">
      <ng-container *ngFor="let element of segment.elements">
        <ng-container *ngIf="element.unitId == 2 && element.optional == true">
          <h4>{{ element.title }}</h4>
          <ul>
            <li *ngFor="let roomType of element.roomTypes">
              {{ roomType.description }} : €
              {{ (roomType.defaultPrice / itinerary.stats_pax).toFixed(2) }}/P
            </li>
          </ul>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <ng-container *ngTemplateOutlet="templateFooter"></ng-container>
</div>
<ng-template #templateHeader>
  <header>
    <div class="logo">
      <img
        src="https://media.nobeach-reizen.nl/original/original/logo-f2825938.png"
        alt=""
        title=""
      />
    </div>
    <div class="heDet">
      <h1>{{ itinerary.nameTravelplan }}</h1>
      <p>30 Oktober 2020 -11 November 2020</p>
    </div>
  </header>
</ng-template>
<ng-template #templateFooter>
  <footer>
    <ul class="fotInline">
      <li>NoBeach Reizen</li>
      <li>
        <img
          src="https://media.nobeach-reizen.nl/original/original/phone.png"
          alt=""
        />
        +31 (0)88 30 80 300
      </li>
      <li>
        <img
          src="https://media.nobeach-reizen.nl/original/original/home.png"
          alt=""
        />
        https://www.nobeach-reizen.nl
      </li>
      <li>
        <img
          src="https://media.nobeach-reizen.nl/original/original/phone.png"
          alt=""
        />
        info@nobeach-reizen.nl
      </li>
      <li>
        <img
          src="https://media.nobeach-reizen.nl/original/original/logos.png"
          alt=""
          class="fiImg"
        />
      </li>
    </ul>
  </footer>
</ng-template>
