<div class="page">
  <ng-container *ngTemplateOutlet="templateHeader"></ng-container>
  <div class="page-inner head-paginn">
    <!-- app-hero -->
    <div>
      <h1>hai</h1>
    </div>
  </div>
</div>
<ng-template #templateHeader>
  <header>
    <div class="logo">
      <img src="https://media.nobeach-reizen.nl/original/original/logo-f2825938.png" alt="" title="" />
    </div>
    <div class="container mb-content">
      <h1>{{ itinerary.nameTravelplan }}</h1>
    </div>
  </header>
</ng-template>
